/*definição de fontes*/
@font-face {
    font-family: "Unbounded";
    src: url("fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight:700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "poppins";
    src: url("fonts/Poppins-Regular.ttf")
    format("truetype");
    font: weight 400px;;
    font-style: normal;
    font-display: swap;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
}

/*estilo desktop*/
body{
    background-color: #0E1014;
    color: #ffffff;
}

header img{
    margin: 75px 0 0 360px;


}

h1{
    font-size: 58px;
    font-family: "unbounded",sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 24px ;

}

h1 span{
    color:#9747FF;
      
}

p{
    font-family: "poppins",sans-serif;
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 24px auto 0;
}

a{
    color: #ffffff;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}
a:hover{
    background-color:#8233E8 ;
}

section img{
    display: block;
    width: 792;
    height: 446;
    margin: 0 auto;
}

/*estilo tablet*/
@media(max-width:768px){

    header img{
        margin:65px 0 0 60px;
    }
    p{
        width:648px;
    }
}

/*estilo mobile*/
@media(max-width:430px){
    header img{
        margin: 32px 0 0 16px;

    }
    
    h1{
        font-size:40px;
    }
    p{
        font-size:20px;
        width:340px;
    }
    a{
        width: 251px;
    }
   section img{
    width: 340px;
    height: 230px;
   }
    
}